<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
</packages>
<configuration>
    <packageRestore>
        <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
        <add key="enabled" value="True" />
    </packageRestore>
</configuration>